@font-face {
    font-family: "GSR";
    src: url("../fonts/ProductSans-Regular.ttf") format("truetype");
}

.control-contents {
    display: flex;
}

.control-container {
    display: flex;
    align-items: center;
    font-family: "GSR";
    font-weight: 600;
}

.control-container p {
    margin-left: 20px;
    font-family: "GMM";
    font-size: 16px;
}

.control {
    display: flex;
    justify-content: space-between;
    place-items: center;
    height: 80px;
    flex-grow: 1;
    margin-bottom: 40px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 6px 6px 10px -1px rgba(0, 0, 0, 0.15);
}

.control .field {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 20px;
}

.control .field .value {
    position: absolute;
}

.control .field .value.left {
    left: -42px;
}

.control .field .value.right {
    right: -40px;
}

.control .field input {
    display: none;
}

.control .field .button {
    width: 60px;
    height: 30px;
    cursor: pointer;
    position: relative;
    background-color: #978d83;
    border-radius: 30px;
    align-items: center;
    display: flex;
}

.control .field .button::before {
    width: 25px;
    height: 25px;
    position: absolute;
    content: '';
    background-color: #fff;
    border-radius: 50%;
    margin: 2px;
    transition: ease-in-out;
    transition-duration: 0.3s;
}

.control .field input:checked + .button {
    background-color: #3648d2;
}

.control .field input:checked + .button::before {
    transform: translateX(30px);
}

.range {
    text-align: center;
    place-items: center;
    height: 80px;
    width: 180px;
    background: #fff;
    border-radius: 10px;
    padding: 0 65px 0 45px;
    box-shadow: 6px 6px 10px -1px rgba(0, 0, 0, 0.15);
}

.range .slider-value {
    position: relative;
    width: 100%;
}

.range .slider-value span {
    position: absolute;
    height: 45px;
    width: 45px;
    color: #fff;
    font-weight: 500;
    top: -40px;
    transform: translateX(-50%) scale(0);
    transform-origin: bottom;
    transition: transform 0.3s ease-in-out;
    line-height: 55px;
    z-index: 1;
}

.range .slider-value span.show {
    transform: translateX(-50%) scale(1);
}

.range .slider-value span:after {
    position: absolute;
    content: "";
    height: 45px;
    width: 45px;
    background-color: #3648d2;
    left: 50%;
    transform: translateX(-50%) rotate(45deg);
    border: 3px solid #fff;
    z-index: -1;
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
    border-bottom-left-radius: 50%;
}

.range .field {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.range .field .value {
    position: absolute;
    font-size: 18px;
    font-weight: 600;
    color: #3648d2;
}

.range .field .value.left {
    left: -22px;
}

.range .field .value.right {
    right: -43px;
}

.range .field input {
    -webkit-appearance: none;
    height: 3px;
    width: 100%;
    background: #ddd;
    border-radius: 5px;
    outline: none;
    border: none;
}

.range .field input::-webkit-slider-thumb {
    -webkit-appearance: none;
    height: 20px;
    width: 20px;
    background-color: #3648d2;
    border-radius: 50%;
    border: 1px solid #3648d2;
    cursor: pointer;
}

.control-panel-sort {
    position: relative;
    margin-left: 40px;
}

.waterpump {
    position: relative;
    font-size: 18px;
    place-items: center;
    display: flex;
}

.waterpump .container.sort {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.waterpump .container.sort .power {
    z-index: 1;
    font-size: 24px;
    font-family: "GMM";
    font-weight: 600;
    color: #3648d2;
    transform: rotate(-45deg);
}

.waterpump .container.sort .white-circle {
    z-index: 0;
    top: -15px;
    left: 35px;
    position: absolute;
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: rotate(45deg);
    background-color: #fff;
    border-radius: 40px;
}

.waterpump .box {
    width: 80px;
    height: 260px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    border-radius: 25px 25px 5px 5px;
    margin-right: 40px;
    box-shadow: 6px 6px 10px -1px rgba(0, 0, 0, 0.15);
}

.waterpump .disc {
    position: absolute;
    left: 40px;
}

.waterpump .field {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 40px;
    transform: rotate(-90deg);
}

.waterpump .top {
    position: absolute;
    left: 36px;
    z-index: 1;
    color: #fff;
    font-weight: 600;
    transform: rotate(90deg);
}

.waterpump .bottom {
    position: absolute;
    right: 114px;
    z-index: 1;
    color: #fff;
    font-weight: 600;
    transform: rotate(90deg);
}

.waterpump .value {
    font-family: "GSR";
    font-size: 20px;
    position: absolute;
    top: 20px;
}

.waterpump input {
    position: absolute;
    right: -50px;
    width: 180px;
    height: 20px;
    -webkit-appearance: none;
    background-color: transparent;
    border-radius: 30px;
    outline: none;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 99;
}

.waterpump progress {
    position: absolute;
    right: -50px;
    width: 180px;
    height: 20px;
    -webkit-appearance: none;
    border-radius: 30px;
    overflow: hidden;
}

.waterpump progress::-webkit-progress-bar {
    background-color: #b6bcd5;
}

.waterpump progress::-webkit-progress-value {
    background-color: #3648d2;
}

.disc {
    font-size: 18px;
    font-family: "GMM";
    font-weight: 600;
    margin-bottom: 20px;
    color: #4a5895
}

.waterpump input::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 16px;
    height: 16px;
    outline: 2px solid #3648d2;
    border-radius: 50%;
    background: white;
    cursor: pointer;
    position: relative;
    z-index: 2;
}

.waterpump .progress {
    position: absolute;
    background-color: #4a5895;
    width: 180px;
    height: 20px;
    border-radius: 50px;
    z-index: 1;
}

.waterpump .status {
    margin-top: 32px;
    width: 80px;
    height: 80px;
    background-color: #fff;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "GSR";
    flex-direction: column;
    position: relative;
    z-index: 1;
    box-shadow: 6px 6px 10px -1px rgba(0, 0, 0, 0.15);
}

.waterpump .status::before {
    content: '';
    position: absolute;
    top: -10px;
    width: 20px;
    height: 20px;
    transform: rotate(45deg);
    background-color: #fff;
    z-index: -1;
}

.waterpump .status .status-icon {
    color: #3648d2;
    font-size: 30px;
}

.waterpump .status .name {
    margin-top: 5px;
    color: #1c2034;
    font-size: 14px;
}

.waterpump .circle .skill {
    width: 260px;
    height: 260px;
    position: relative;
}

.waterpump .circle .outer {
    width: 260px;
    height: 260px;
    background-color: #fff;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 6px 6px 10px -1px rgba(0, 0, 0, 0.15), -6px -6px 10px -1px rgba(255, 255, 255, 0.7);
}

.waterpump .circle .inner {
    width: 200px;
    height: 200px;
    background-color: #e2e2dc;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: inset 4px 4px 6px -1px rgba(0, 0, 0, 0.2), 
                inset -4px -4px 6px -1px rgba(255, 255, 255, 0.7),
                -0.5px -0.5px 0px rgba(255, 255, 255, 1), 
                0.5px 0.5px 0px rgba(0, 0, 0, 0.15),
                0px 12px 10px -10px rgba(0, 0, 0, 0.05);
}

.waterpump .circle .inner .number {
    position: relative;
    font-family: "GSR";
    font-size: 30px;
    width: 160px;
    height: 160px;
    background-color: white;
    border-radius: 50%;
    font-weight: 600;
    color: #555;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 6px 6px 10px -1px rgba(0, 0, 0, 0.15), -6px -6px 10px -1px rgba(255, 255, 255, 0.7);
    cursor: pointer;
    z-index: 1;
    transition: 0.3s;
}

.waterpump .circle .inner .pushed {
    position: relative;
    font-family: "GSR";
    font-size: 30px;
    width: 160px;
    height: 160px;
    background-color: white;
    border-radius: 50%;
    font-weight: 600;
    color: #555;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: inset 4px 4px 6px -1px rgba(0, 0, 0, 0.2), 
                inset -4px -4px 6px -1px rgba(255, 255, 255, 0.7),
                -0.5px -0.5px 0px rgba(255, 255, 255, 1), 
                0.5px 0.5px 0px rgba(0, 0, 0, 0.15),
                0px 12px 10px -10px rgba(0, 0, 0, 0.05);
    cursor: pointer;
    z-index: 1;
    transition: 0.3s;
}

.waterpump .circle .inner .number:hover {
    background-color: #e2e2e2;
}

.waterpump .circle circle {
    fill: none;
    stroke: url(#GradientColor);
    stroke-width: 30px;
    stroke-dasharray: 722.2;
}

.waterpump .circle svg {
    position: absolute;
    top: 0;
    left: 0;
}

.waterpump .circle .inner .disc {
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(35%, 450%);
    font-family: "GSR";
    font-weight: 600;
}

.waterpump .status-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 32px;
    width: 450px;
    height: 80px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 6px 6px 10px -1px rgba(0, 0, 0, 0.15);
    font-family: "GSR";
    font-weight: 600;
}

.waterpump .status-container .line {
    height: 40px;
    border: 1px solid #7e89a8;
    margin: 20px;
}

.waterpump .status-container .status-manage {
    width: 180px;
    display: flex;
    padding-right: 10px;
    align-items: center;
    justify-content: space-between;
}

.waterpump .status-container .status-box {
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    box-shadow: 2px 2px 10px -1px rgba(0, 0, 0, 0.5);
}

.waterpump .status-box.class1 {
    background-color: #3f4a69;
}

.waterpump .status-box.class2 {
    background-color: #4e7a64;
}

.waterpump .status-box .status-icon {
    color: #fff;
    font-size: 30px;
}

.waterpump .status-container .text-box {
    flex-grow: 1;
    text-align: end;
}

.waterpump .status-container p {
    padding: 0;
    margin: 0;
    font-size: 14px;
    color: #555;
}

.waterpump .status-container span {
    font-size: 16px;
}

.rail-sort {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.rail-sort .disc {
    text-align: right;
    top: -65px;
}

.linear-rail {
    margin-left: 40px;
    flex-grow: 1;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 6px 6px 10px -1px rgba(0, 0, 0, 0.15);
}

.division {
    width: 100%;
    margin-top: 40px;
    margin-bottom: 40px;
}

.fan-container .sort {
    display: flex;
}

.fan-container .name {
    font-size: 18px;
    font-family: "GSR";
    font-weight: 600;
    margin-bottom: 20px;
    color: #4a5895;
}

.bar-box {
    width: 530px;
    height: 100px;
    background-color: #fff;
    border-radius: 10px 30px 10px 30px;
    margin-bottom: 40px;
    display: flex;
    align-items: center;
    position: relative;
    box-shadow: 6px 6px 10px -1px rgba(0, 0, 0, 0.15);
}

.bar-box .status {
    text-align: right;
    width: 80px;
}

.temp-bar .status {
    margin-left: 20px;
}

.humid-bar .status {
    margin-left: 20px;
}

.bar-box p {
    z-index: 10;
    margin: 0;
    font-family: "GSR";
    font-weight: 600;
    font-size: 14px;
    margin-bottom: 5px;
    color: #555;
}

.bar-box .value {
    font-family: "GSR";
    font-weight: 600;
    font-size: 20px;
}

.bar-box .length {
    position: absolute;
    width: 500px;
    height: 60px;
    left: 40%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.bar-box .chart {
    position: absolute;
    width: 400px;
    height: 38px;
    left: 102px;
    top: 50%;
    left: 59%;
    transform: translate(-50%, -50%);
    border-radius: 5px;
    overflow: hidden;
}

.fan-container .border {
    margin-left: 40px;
}

.device {
    width: 308px;
    height: 240px;
    font-family: "GSR";
    font-weight: 600;
    background-color: #fff;
    border-radius: 10px 30px 10px 30px;
    box-shadow: 6px 6px 10px -1px rgba(0, 0, 0, 0.15);
    position: relative;
    overflow: hidden;
    display: flex;
}

.device .disc {
    margin-top: 20px;
    margin-left: 20px;
}

.device p {
    font-size: 20px;
    margin: 0;
    margin-bottom: 20px;
}

.device .set-value {
    font-size: 30px;
}

.device .button-on {
    position: absolute;
    top: 20px;
    right: 20px;
    width: 30px;
    height: 30px;
    outline: 3px solid #56b7fc;
    border-radius: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: sizing 2s infinite;
}

.device .button-off {
    position: absolute;
    top: 20px;
    right: 20px;
    width: 30px;
    height: 30px;
    outline: 3px solid #56b7fc;
    border-radius: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.device .inner-button-off {
    content: '';
    width: 28px;
    height: 28px;
    border: none;
    outline: 2px solid transparent;
    border-radius: 12px;
    background-color: #0b1b1fcc;
    cursor: pointer;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    color: #56b7fc;
}

.device .inner-button-on {
    content: '';
    width: 28px;
    height: 28px;
    border: none;
    outline: 2px solid transparent;
    border-radius: 12px;
    background-color: #56b7fc;
    cursor: pointer;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    color: #0b1b1fcc;
    transform-origin: center;
    animation: sizing 2s infinite;
}

.device .rotate-on {
    animation: rotate 2s infinite;
}

@keyframes sizing {
    0%, 100% {
        transform: scale(1, 1.1);
    }
    50% {
        transform: scale(1.1, 1.0);
    }
}

@keyframes rotate {
    0% {
        transform: rotate(0)
    }
    50% {
        transform: rotate(180deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.cooling-fan {
    margin-left: 40px;
}

.device .lower-container {
    position: absolute;
    align-self: flex-end;
    width: 100%;
    height: 60px;
    background-color: #9ecddb;
}

.device .temperature-graduation {
    position: absolute;
    left: calc(50% - 150px);
    bottom: 80px;
    user-select: none;
}

.device .temperature-element {
    text-align: center;
    display: inline-block;
    width: 40px;
    margin: 0 10px 0 10px;
    opacity: 0.7;
}

.device .point {
    display: flex;
    flex-direction: column;
    font-family: "GSR";
}

.device .temperature-element .line {
    font-size: 7px;
}

.slider-container {
    width: 150px;
    height: 80px;
    margin-top: -30px;
    margin-left: calc(50% - 187px);
    position: relative;
}

.slider-button {
    position: absolute;
    left: 42px;
    top: 5px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #3648d2;
    
    cursor: grab;
    cursor: -webkit-grab; 
    cursor: -moz-grab;
}
  
.slider-icon {
    margin-top: 16px;  
    margin-left: 20px;  
    color: white;
}