.category {
    display: flex;
    width: 100%;
    height: 80px;
    background-color: #fff;
    position: relative;
    top: 0px;
    border-radius: 0 0 10px 10px;
    z-index: 2;
    margin-bottom: 60px;
}

.category .button-container {
    display: flex;
    position: relative;
}

.button-container .active-bar {
    width: 100px;
    height: 4px;
    position: absolute;
    background-color: #4d5bc5;
    bottom: 0;
    margin-left: 40px;
    transition: all 0.2s ease-out;
}

.category .first {
    margin-left: 30px;
}

.category .button {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "GSR";
    font-size: 16px;
    width: 120px;
    margin-right: 30px;
    height: 100%;
    cursor: pointer;
    color: #a49788;
    transition: all 0.3s ease-in-out;
}

.category .button:hover {
    color: #4d5bc5;
}

.button.color {
    color: #4d5bc5;
}

.summary-container {
    display: flex;
}

.subtitle {
    margin-top: 0;
    font-family: "GMM";
    font-size: 36px;
    color: #293e3c;
}

.calendar-icon {
    margin-right: 10px;
    font-size: 25px;
}

.date {
    display: flex;
    align-items: center;
    font-size: 24px;
    font-family: "GSR";
    color: #293e3c;
}

.summary-box {
    margin-top: 40px;
    position: relative;
    padding: 0px;
    width: 840px;
    height: 360px;
    background-color: white;
    border-radius: 30px;
    box-shadow: 6px 6px 10px -1px rgba(0, 0, 0, 0.15);
    overflow: hidden;
}

.summary-box .blue-circle {
    position: absolute;
    width: 560px;
    height: 560px;
    background-color: #cbe3e8;
    border-radius: 240px;
    transform: rotate(45deg);
    animation-name: roam;
    animation-duration: 20s;
    animation-iteration-count: infinite;
}

.blue-circle.another {
    top: -180px;
    right: -360px;
    width: 720px;
    height: 720px;
    border-radius: 280px;
    background-color: #d0d8ed;
    transform: rotate(60deg);
    animation-duration: 40s;
}

.blue-circle.one {
    top: -40px;
    left: -240px;
}

.summary-box .phase {
    transition: all 0.5s ease-in-out;
}

.summary-box .title {
    position: relative;
    padding-left: 30px;
    font-family: "GMM";
    font-size: 24px;
    color: #293e3c;
}

.summary-box .chart {
    width: 800px;
    height: 280px;
    position: absolute;
    z-index: 2;
    transform: translate(2%, -10%);
}

.summary-box .sort {
    display: flex;
    width: 100%;
    justify-content: space-around;
}

.env-box {
    display: flex;
    align-items: center;
    font-family: "GSR";
    font-weight: lighter;
    font-size: 18px;
    height: 100px;
    color: #293e3c;
}

.temp-box {
    width: 70px;
    height: 70px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 10px;
}

.humid-box {
    width: 70px;
    height: 70px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 10px;
}

.lux-box {
    width: 70px;
    height: 70px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 10px;
}

.env-box .color {
    background-color: #60769c;
}

.stat-icon {
    color: white;
    font-size: 40px;
}

.stat-value {
    font-family: "GSR";
    font-size: 24px;
}

.status-sort {
    width: 840px;
    justify-content: space-between;
    display: flex;
}

.week-box {
    display: flex;
    font-family: "GML";
    align-items: end;
    z-index: 0;
}

.week-value {
    display: flex;
    width: 100%;
    justify-content: center;
    padding-left: 20px;
    padding-right: 20px;
}

.growth-box {
    margin-top: 60px;
    position: relative;
    display: flex;
    justify-content: space-around;
    height: 180px;
}

.growth-box .status {
    width: 240px;
    display: flex;
    justify-content: center;
}

.seed-phase {
    display: flex;
    position: absolute;
    width: 240px;
    height: 84px;
    border-radius: 100px;
    background-color: #6bb5dc;
    top: 50%;
    align-items: center;
    z-index: 1;
}

.vegetation {
    display: flex;
    position: absolute;
    width: 240px;
    height: 84px;
    border-radius: 100px;
    background-color: #4468ac;
    bottom: 90px;
    top: 25%;
    align-items: center;
    z-index: 1;
}

.final-growth {
    display: flex;
    position: absolute;
    width: 240px;
    height: 84px;
    border-radius: 100px;
    background-color: #38407f;
    top: 0;
    align-items: center;
    z-index: 1;
}

.growth-img-box {
    display: flex;
    background-color: white;
    display: flex;
    align-self: center;
    width: 72px;
    height: 72px;
    overflow: hidden;
    border-radius: 50px;
    margin-left: 6px;
    box-shadow: 4px 4px 10px -1px rgba(0, 0, 0, 0.5);
}

.growth-disc {
    margin-left: 12px;
    font-size: 18px;
    font-family: "GMM";
    color: white;
}

.growth-value {
    margin-top: 14px;
    font-family: "GML";
    font-size: 14px;
}

.seed-height {
    position: absolute;
    border-left: 2px solid black;
    height: 70px;
    bottom: 0;
    padding-right: 160px;
}

.vegetation-height {
    position: absolute;
    border-left: 2px solid black;
    height: 120px;
    bottom: 0;
    padding-right: 160px;
}

.final-growth-height {
    position: absolute;
    border-left: 2px solid black;
    height: 160px;
    bottom: 0;
    padding-right: 160px;
}

.sensor-box-sort {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-left: 20px;
    height: 480px;
}

.sensor-box-title {
    font-size: 24px;
    font-family: "GMM";
    color: #293e3c;
}

.sensor-box {
    position: relative;
    overflow: hidden;
    width: 360px;
    height: 100px;
    border-radius: 10px 30px;
    background-color: white;
    display: flex;
    align-items: center;
    font-family: "GSR";
    box-shadow: 6px 6px 10px -1px rgba(0, 0, 0, 0.15);
}

.sensor-icon {
    margin-left: 20px;
    font-size: 36px;
    color: #1b1e29;
    margin-right: 20px;
}

.sensor-box h3 {
    font-size: 20px;
    font-weight: lighter;
    margin: 0;
}

.soil-humid-id {
    font-family: "GSR";
}

.sensor-disc {
    font-family: "GSR";
}

.sensor-value {
    position: absolute;
    right: 20px;
    font-size: 24px;
}

.monitoring-box {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 840px;
    height: 72px;
    background-color: white;
    border-radius: 20px;
    box-shadow: 6px 6px 10px -1px rgba(0, 0, 0, 0.15);
}

.monitoring-sort {
    display: flex;
}

.monitoring-title {
    color: #293e3c;
    font-family: "GMM";
    font-size: 24px;
    margin-top: 48px;
}

.harvest-box-sort {
    position: relative;
    margin-left: 20px;
}

.harvest-box {
    position: relative;
    width: 320px;
    height: 320px;
    background-color: white;
    border-radius: 20px;
    box-shadow: 6px 6px 10px -1px rgba(0, 0, 0, 0.15);
    overflow: hidden;
    margin-bottom: 40px;
    padding: 20px;
}

.harvest-box-sort span {
    position: absolute;
    top: 180px;
    left: 20px;
    font-size: 36px;
    font-family: "GSR";
    font-weight: 600;
    z-index: 1;
}

.monitoring-disc {
    padding: 40px;
    font-family: "GSR";
    font-size: 18px;
}

.monitoring-value-box {
    margin-top: 8px;
    height: 280px;
    overflow: hidden;
    overflow-y: scroll;
}

.monitoring-value-box::-webkit-scrollbar {
    background-color: white;
    width: 12px;
    border-radius: 15px;
}

.monitoring-value-box::-webkit-scrollbar-thumb {
    background-color: #b7b2a6;
    background-clip: padding-box;
    border: 2px solid transparent;
    border-radius: 15px;
}

.control-item {
    display: flex;
    width: 820px;
    justify-content: space-between;
    padding: 5px;
    font-size: 16px;
    font-family: "GSR";
}

.control-value1 {
    width: 100%;
    display: flex;
    justify-content: baseline;
}

.control-value2 {
    width: 100%;
    display: flex;
    justify-content: center;
    padding-left: 24px;
}

.control-value3 {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    padding-right: 20px;
}

.control-icon-sort {
    width: 0;
    padding-right: 30px;
}